.library {
  grid-column: library-s/library-e;
  display: grid;
  grid-template-rows: [title-s]100px[title-e courses-s] repeat(auto-fit, 1fr) [courses-e];
  grid-gap: 20px;
  &__title {
    //grid-row: title-s/title-e;
  }
}

.course {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);

  background-color: cornflowerblue;
  &__title-check {
    grid-row: 1/2;
    display: flex;
  }

  &__description {
    grid-row: 2/3;
  }

  &__check {
    grid-row: 1/2;
  }
  &__arrow {
    grid-row: 1/2;
  }

  &__action {
    grid-row: 1/2;
  }
}
